{% extends '::base.html.twig' %}

{% use 'BlBibliothequeBundle:Default:sidebar_genres.html.twig' %}

{% block body %}
    {% for livre in livres %}
        <div class="block">
            <h2>{{ livre.titre }}</h2>
            <div class="tags-list">
		{% for Genre in livre.listeDesGenres %}
			{% if loop.index > 1 %},{% endif %} 
			<span class="badge">{{ Genre.label }}</span>
		{% endfor %}
	    </div>
            <div class="illustration">
                {% if livre.illustration is defined %}
                    <img src="{{ livre.illustration }}" />
                {% else %}
                    <span class="fa fa-ban"></span>
                {% endif %}
            </div>
            <div class="description">
                {{ livre.description }}
            </div>
            <div class="read-more">
                <a class="btn btn-primary btn-small" href="#">Lire</a>
            </div>
        </div>
    {% else %}<div class="alert">Désolé, il n'y a aucun livre dans cette section</div>
    {% endfor %}
{% endblock %}


